# Logistic Regression with scikit-learn

This is an example of logistic regression in Python with the [scikit-learn module](http://scikit-learn.org/), performed for an [assignment](https://github.com/ajschumacher/gadsdc/tree/master/logistic_assignment) with my [General Assembly Data Science class](https://generalassemb.ly/education/data-science).

## Dataset

The dataset I chose is the [affairs dataset](http://statsmodels.sourceforge.net/stable/datasets/generated/fair.html) that comes with [Statsmodels](http://statsmodels.sourceforge.net/). It was derived from a survey of women in 1974 by Redbook magazine, in which married women were asked about their participation in extramarital affairs. More information about the study is available in a [1978 paper](http://fairmodel.econ.yale.edu/rayfair/pdf/1978a200.pdf) from the Journal of Political Economy.

## Description of Variables

The dataset contains 6366 observations of 9 variables:

* `rate_marriage`: woman's rating of her marriage (1 = very poor, 5 = very good)
* `age`: woman's age
* `yrs_married`: number of years married
* `children`: number of children
* `religious`: woman's rating of how religious she is (1 = not religious, 4 = strongly religious)
* `educ`: level of education (9 = grade school, 12 = high school, 14 = some college, 16 = college graduate, 17 = some graduate school, 20 = advanced degree)
* `occupation`: woman's occupation (1 = student, 2 = farming/semi-skilled/unskilled, 3 = "white collar", 4 = teacher/nurse/writer/technician/skilled, 5 = managerial/business, 6 = professional with advanced degree)
* `occupation_husb`: husband's occupation (same coding as above)
* `affairs`: time spent in extra-marital affairs

## Problem Statement

I decided to treat this as a classification problem by creating a new binary variable `affair` (did the woman have at least one affair?) and trying to predict the classification for each woman.

Skipper Seabold, one of the primary contributors to Statsmodels, did a similar classification in his [Statsmodels demo](https://github.com/jseabold/pydc) at a [Statistical Programming DC Meetup](http://www.meetup.com/stats-prog-dc/events/173693192/). However, he used Statsmodels for the classification (whereas I'm using scikit-learn), and he treated the occupation variables as continuous (whereas I'm treating them as categorical).

## Import modules

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score

/Users/Felipe/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools
/Users/Felipe/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

## Data Pre-Processing

First, let's load the dataset.

In [3]:
df = pd.read_json('/Users/Felipe/GitHub/StocksGenie/Arquivo de gerar e jogar para S3/json/AAPL.json')
df = df.T

In [4]:
dta = df
dta.columns = ['open', 'high', 'low', 'close', 'volume']
dta

                         open      high       low     close     volume
2017-10-23 09:30:00  156.8900  156.9100  156.7200  156.8400   202632.0
2017-10-23 09:31:00  156.8400  156.8900  156.3000  156.4000   168533.0
2017-10-23 09:32:00  156.3695  156.5600  156.3695  156.5442    94511.0
2017-10-23 09:33:00  156.5400  156.6100  156.4800  156.6000    84868.0
2017-10-23 09:34:00  156.6300  156.9100  156.6200  156.8500    90873.0
2017-10-23 09:35:00  156.8500  156.9000  156.7560  156.8200    68573.0
2017-10-23 09:36:00  156.8100  157.0500  156.8100  156.9400   110704.0
2017-10-23 09:37:00  156.9400  156.9400  156.6900  156.7100    46911.0
2017-10-23 09:38:00  156.7200  156.7500  156.6000  156.7300    56012.0
2017-10-23 09:39:00  156.7300  156.9600  156.7300  156.7700    66562.0
2017-10-23 09:40:00  156.7800  156.8500  156.7525  156.8500    63238.0
2017-10-23 09:41:00  156.8450  156.9900  156.8450  156.9700    61721.0
2017-10-23 09:42:00  156.9700  156.9800  156.9100  156.9250    59156.0
2017-10-23 09:43:00  156.9250  156.9600  156.7501  156.7614    59541.0
2017-10-23 09:44:00  156.7500  156.8800  156.7500  156.7995    44804.0
2017-10-23 09:45:00  156.8100  156.8500  156.7243  156.7886    48521.0
2017-10-23 09:46:00  156.8000  156.9550  156.8000  156.9500    44504.0
2017-10-23 09:47:00  156.9400  157.0200  156.9100  156.9950    89829.0
2017-10-23 09:48:00  156.9950  157.0500  156.8700  156.9050    82340.0
2017-10-23 09:49:00  156.9200  156.9500  156.8400  156.9000    59568.0
2017-10-23 09:50:00  156.9000  156.9500  156.8500  156.9100    42642.0
2017-10-23 09:51:00  156.9050  156.9099  156.7300  156.7750    50246.0
2017-10-23 09:52:00  156.7700  156.9400  156.7200  156.8600    65364.0
2017-10-23 09:53:00  156.8542  156.8800  156.7501  156.7600    49727.0
2017-10-23 09:54:00  156.7500  156.8800  156.6900  156.8400    54813.0
2017-10-23 09:55:00  156.8500  156.9311  156.8400  156.9088    63249.0
2017-10-23 09:56:00  156.9200  156.9500  156.8900  156.9500    43013.0
2017-10-23 09:57:00  156.9500  156.9500  156.8500  156.9200    25890.0
2017-10-23 09:58:00  156.9150  156.9200  156.7900  156.8900    31107.0
2017-10-23 09:59:00  156.8900  156.9100  156.7900  156.8000    20720.0
...                       ...       ...       ...       ...        ...
2017-11-03 15:31:00  172.4000  172.4700  172.3650  172.4600    89925.0
2017-11-03 15:32:00  172.4300  172.4500  172.3700  172.4301    56327.0
2017-11-03 15:33:00  172.4355  172.6700  172.4300  172.6450   126719.0
2017-11-03 15:34:00  172.6450  172.6600  172.5400  172.5600   134694.0
2017-11-03 15:35:00  172.5600  172.5800  172.4400  172.4600   120497.0
2017-11-03 15:36:00  172.4700  172.5700  172.4700  172.5300    56034.0
2017-11-03 15:37:00  172.5345  172.5400  172.4600  172.4850    57478.0
2017-11-03 15:38:00  172.4885  172.5650  172.4700  172.5300    70620.0
2017-11-03 15:39:00  172.5200  172.6000  172.5100  172.5800    57719.0
2017-11-03 15:40:00  172.5800  172.6800  172.5700  172.6650   101869.0
2017-11-03 15:41:00  172.6650  172.7000  172.6200  172.6250    68636.0
2017-11-03 15:42:00  172.6300  172.6400  172.5600  172.6000    73122.0
2017-11-03 15:43:00  172.6100  172.6400  172.5200  172.6100   118703.0
2017-11-03 15:44:00  172.6149  172.7300  172.6100  172.7248   150811.0
2017-11-03 15:45:00  172.7250  172.7300  172.7000  172.7050   113901.0
2017-11-03 15:46:00  172.7100  172.7100  172.5000  172.5901   145234.0
2017-11-03 15:47:00  172.6000  172.6300  172.5400  172.5800    92945.0
2017-11-03 15:48:00  172.5800  172.6800  172.4820  172.6800   202427.0
2017-11-03 15:49:00  172.6800  172.6800  172.5000  172.5993   119416.0
2017-11-03 15:50:00  172.5900  172.6500  172.5100  172.6300   173172.0
2017-11-03 15:51:00  172.6300  172.6600  172.5800  172.6600   142082.0
2017-11-03 15:52:00  172.6550  172.6600  172.5600  172.5900   118548.0
2017-11-03 15:53:00  172.6000  172.6600  172.5815  172.6000   120683.0
2017-11-03 15:54:00  172.5950  172.6000  172.5400  172.5585   130553.0
2017-11-03 15:55:00  172.5500  172.5550  172.4300  172.4400   180939.0
2017-11-03 15:56:00  172.4500  172.4550  172.4000  172.4100   185931.0
2017-11-03 15:57:00  172.4200  172.4200  172.4000  172.4140   184321.0
2017-11-03 15:58:00  172.4200  172.4200  172.4000  172.4052   213275.0
2017-11-03 15:59:00  172.4048  172.4700  172.3800  172.4600   346272.0
2017-11-03 16:00:00  172.4699  172.5100  172.4100  172.5000  1580573.0

[3910 rows x 5 columns]

## Data Exploration

In [5]:
dta['raised'] = 0
dta

                         open      high       low     close     volume  raised
2017-10-23 09:30:00  156.8900  156.9100  156.7200  156.8400   202632.0       0
2017-10-23 09:31:00  156.8400  156.8900  156.3000  156.4000   168533.0       0
2017-10-23 09:32:00  156.3695  156.5600  156.3695  156.5442    94511.0       0
2017-10-23 09:33:00  156.5400  156.6100  156.4800  156.6000    84868.0       0
2017-10-23 09:34:00  156.6300  156.9100  156.6200  156.8500    90873.0       0
2017-10-23 09:35:00  156.8500  156.9000  156.7560  156.8200    68573.0       0
2017-10-23 09:36:00  156.8100  157.0500  156.8100  156.9400   110704.0       0
2017-10-23 09:37:00  156.9400  156.9400  156.6900  156.7100    46911.0       0
2017-10-23 09:38:00  156.7200  156.7500  156.6000  156.7300    56012.0       0
2017-10-23 09:39:00  156.7300  156.9600  156.7300  156.7700    66562.0       0
2017-10-23 09:40:00  156.7800  156.8500  156.7525  156.8500    63238.0       0
2017-10-23 09:41:00  156.8450  156.9900  156.8450  156.9700    61721.0       0
2017-10-23 09:42:00  156.9700  156.9800  156.9100  156.9250    59156.0       0
2017-10-23 09:43:00  156.9250  156.9600  156.7501  156.7614    59541.0       0
2017-10-23 09:44:00  156.7500  156.8800  156.7500  156.7995    44804.0       0
2017-10-23 09:45:00  156.8100  156.8500  156.7243  156.7886    48521.0       0
2017-10-23 09:46:00  156.8000  156.9550  156.8000  156.9500    44504.0       0
2017-10-23 09:47:00  156.9400  157.0200  156.9100  156.9950    89829.0       0
2017-10-23 09:48:00  156.9950  157.0500  156.8700  156.9050    82340.0       0
2017-10-23 09:49:00  156.9200  156.9500  156.8400  156.9000    59568.0       0
2017-10-23 09:50:00  156.9000  156.9500  156.8500  156.9100    42642.0       0
2017-10-23 09:51:00  156.9050  156.9099  156.7300  156.7750    50246.0       0
2017-10-23 09:52:00  156.7700  156.9400  156.7200  156.8600    65364.0       0
2017-10-23 09:53:00  156.8542  156.8800  156.7501  156.7600    49727.0       0
2017-10-23 09:54:00  156.7500  156.8800  156.6900  156.8400    54813.0       0
2017-10-23 09:55:00  156.8500  156.9311  156.8400  156.9088    63249.0       0
2017-10-23 09:56:00  156.9200  156.9500  156.8900  156.9500    43013.0       0
2017-10-23 09:57:00  156.9500  156.9500  156.8500  156.9200    25890.0       0
2017-10-23 09:58:00  156.9150  156.9200  156.7900  156.8900    31107.0       0
2017-10-23 09:59:00  156.8900  156.9100  156.7900  156.8000    20720.0       0
...                       ...       ...       ...       ...        ...     ...
2017-11-03 15:31:00  172.4000  172.4700  172.3650  172.4600    89925.0       0
2017-11-03 15:32:00  172.4300  172.4500  172.3700  172.4301    56327.0       0
2017-11-03 15:33:00  172.4355  172.6700  172.4300  172.6450   126719.0       0
2017-11-03 15:34:00  172.6450  172.6600  172.5400  172.5600   134694.0       0
2017-11-03 15:35:00  172.5600  172.5800  172.4400  172.4600   120497.0       0
2017-11-03 15:36:00  172.4700  172.5700  172.4700  172.5300    56034.0       0
2017-11-03 15:37:00  172.5345  172.5400  172.4600  172.4850    57478.0       0
2017-11-03 15:38:00  172.4885  172.5650  172.4700  172.5300    70620.0       0
2017-11-03 15:39:00  172.5200  172.6000  172.5100  172.5800    57719.0       0
2017-11-03 15:40:00  172.5800  172.6800  172.5700  172.6650   101869.0       0
2017-11-03 15:41:00  172.6650  172.7000  172.6200  172.6250    68636.0       0
2017-11-03 15:42:00  172.6300  172.6400  172.5600  172.6000    73122.0       0
2017-11-03 15:43:00  172.6100  172.6400  172.5200  172.6100   118703.0       0
2017-11-03 15:44:00  172.6149  172.7300  172.6100  172.7248   150811.0       0
2017-11-03 15:45:00  172.7250  172.7300  172.7000  172.7050   113901.0       0
2017-11-03 15:46:00  172.7100  172.7100  172.5000  172.5901   145234.0       0
2017-11-03 15:47:00  172.6000  172.6300  172.5400  172.5800    92945.0       0
2017-11-03 15:48:00  172.5800  172.6800  172.4820  172.6800   202427.0       0
2017-11-03 15:49:00  172.6800  172.6800  172.5000  172.5993   119416.0       0
2017-11-03 15:50:00  172.5900  172.6500  172.5100  172.6300   173172.0       0
2017-11-03 15:51:00  172.6300  172.6600  172.5800  172.6600   142082.0       0
2017-11-03 15:52:00  172.6550  172.6600  172.5600  172.5900   118548.0       0
2017-11-03 15:53:00  172.6000  172.6600  172.5815  172.6000   120683.0       0
2017-11-03 15:54:00  172.5950  172.6000  172.5400  172.5585   130553.0       0
2017-11-03 15:55:00  172.5500  172.5550  172.4300  172.4400   180939.0       0
2017-11-03 15:56:00  172.4500  172.4550  172.4000  172.4100   185931.0       0
2017-11-03 15:57:00  172.4200  172.4200  172.4000  172.4140   184321.0       0
2017-11-03 15:58:00  172.4200  172.4200  172.4000  172.4052   213275.0       0
2017-11-03 15:59:00  172.4048  172.4700  172.3800  172.4600   346272.0       0
2017-11-03 16:00:00  172.4699  172.5100  172.4100  172.5000  1580573.0       0

[3910 rows x 6 columns]

In [6]:
dta['date'] = dta.index
dta = dta.reset_index(drop=True)
dta

,open,high,low,close,volume,raised,date
0,156.8900,156.9100,156.7200,156.8400,202632.0,0,2017-10-23 09:30:00
1,156.8400,156.8900,156.3000,156.4000,168533.0,0,2017-10-23 09:31:00
2,156.3695,156.5600,156.3695,156.5442,94511.0,0,2017-10-23 09:32:00
3,156.5400,156.6100,156.4800,156.6000,84868.0,0,2017-10-23 09:33:00
4,156.6300,156.9100,156.6200,156.8500,90873.0,0,2017-10-23 09:34:00
5,156.8500,156.9000,156.7560,156.8200,68573.0,0,2017-10-23 09:35:00
6,156.8100,157.0500,156.8100,156.9400,110704.0,0,2017-10-23 09:36:00
7,156.9400,156.9400,156.6900,156.7100,46911.0,0,2017-10-23 09:37:00
8,156.7200,156.7500,156.6000,156.7300,56012.0,0,2017-10-23 09:38:00
9,156.7300,156.9600,156.7300,156.7700,66562.0,0,2017-10-23 09:39:00
10,156.7800,156.8500,156.7525,156.8500,63238.0,0,2017-10-23 09:40:00
11,156.8450,156.9900,156.8450,156.9700,61721.0,0,2017-10-23 09:41:00
12,156.9700,156.9800,156.9100,156.9250,59156.0,0,2017-10-23 09:42:00
13,156.9250,156.9600,156.7501,156.7614,59541.0,0,2017-10-23 09:43:00
14,156.7500,156.8800,156.7500,156.7995,44804.0,0,2017-10-23 09:44:00
15,156.8100,156.8500,156.7243,156.7886,48521.0,0,2017-10-23 09:45:00
16,156.8000,156.9550,156.8000,156.9500,44504.0,0,2017-10-23 09:46:00
17,156.9400,157.0200,156.9100,156.9950,89829.0,0,2017-10-23 09:47:00
18,156.9950,157.0500,156.8700,156.9050,82340.0,0,2017-10-23 09:48:00
19,156.9200,156.9500,156.8400,156.9000,59568.0,0,2017-10-23 09:49:00
20,156.9000,156.9500,156.8500,156.9100,42642.0,0,2017-10-23 09:50:00
21,156.9050,156.9099,156.7300,156.7750,50246.0,0,2017-10-23 09:51:00
22,156.7700,156.9400,156.7200,156.8600,65364.0,0,2017-10-23 09:52:00
23,156.8542,156.8800,156.7501,156.7600,49727.0,0,2017-10-23 09:53:00
24,156.7500,156.8800,156.6900,156.8400,54813.0,0,2017-10-23 09:54:00
25,156.8500,156.9311,156.8400,156.9088,63249.0,0,2017-10-23 09:55:00
26,156.9200,156.9500,156.8900,156.9500,43013.0,0,2017-10-23 09:56:00
27,156.9500,156.9500,156.8500,156.9200,25890.0,0,2017-10-23 09:57:00
28,156.9150,156.9200,156.7900,156.8900,31107.0,0,2017-10-23 09:58:00
29,156.8900,156.9100,156.7900,156.8000,20720.0,0,2017-10-23 09:59:00
...,...,...,...,...,...,...,...
3880,172.4000,172.4700,172.3650,172.4600,89925.0,0,2017-11-03 15:31:00
3881,172.4300,172.4500,172.3700,172.4301,56327.0,0,2017-11-03 15:32:00
3882,172.4355,172.6700,172.4300,172.6450,126719.0,0,2017-11-03 15:33:00
3883,172.6450,172.6600,172.5400,172.5600,134694.0,0,2017-11-03 15:34:00
3884,172.5600,172.5800,172.4400,172.4600,120497.0,0,2017-11-03 15:35:00
3885,172.4700,172.5700,172.4700,172.5300,56034.0,0,2017-11-03 15:36:00
3886,172.5345,172.5400,172.4600,172.4850,57478.0,0,2017-11-03 15:37:00
3887,172.4885,172.5650,172.4700,172.5300,70620.0,0,2017-11-03 15:38:00
3888,172.5200,172.6000,172.5100,172.5800,57719.0,0,2017-11-03 15:39:00
3889,172.5800,172.6800,172.5700,172.6650,101869.0,0,2017-11-03 15:40:00
3890,172.6650,172.7000,172.6200,172.6250,68636.0,0,2017-11-03 15:41:00
3891,172.6300,172.6400,172.5600,172.6000,73122.0,0,2017-11-03 15:42:00
3892,172.6100,172.6400,172.5200,172.6100,118703.0,0,2017-11-03 15:43:00
3893,172.6149,172.7300,172.6100,172.7248,150811.0,0,2017-11-03 15:44:00
3894,172.7250,172.7300,172.7000,172.7050,113901.0,0,2017-11-03 15:45:00
3895,172.7100,172.7100,172.5000,172.5901,145234.0,0,2017-11-03 15:46:00
3896,172.6000,172.6300,172.5400,172.5800,92945.0,0,2017-11-03 15:47:00
3897,172.5800,172.6800,172.4820,172.6800,202427.0,0,2017-11-03 15:48:00
3898,172.6800,172.6800,172.5000,172.5993,119416.0,0,2017-11-03 15:49:00
3899,172.5900,172.6500,172.5100,172.6300,173172.0,0,2017-11-03 15:50:00
3900,172.6300,172.6600,172.5800,172.6600,142082.0,0,2017-11-03 15:51:00
3901,172.6550,172.6600,172.5600,172.5900,118548.0,0,2017-11-03 15:52:00
3902,172.6000,172.6600,172.5815,172.6000,120683.0,0,2017-11-03 15:53:00
3903,172.5950,172.6000,172.5400,172.5585,130553.0,0,2017-11-03 15:54:00
3904,172.5500,172.5550,172.4300,172.4400,180939.0,0,2017-11-03 15:55:00
3905,172.4500,172.4550,172.4000,172.4100,185931.0,0,2017-11-03 15:56:00
3906,172.4200,172.4200,172.4000,172.4140,184321.0,0,2017-11-03 15:57:00
3907,172.4200,172.4200,172.4000,172.4052,213275.0,0,2017-11-03 15:58:00
3908,172.4048,172.4700,172.3800,172.4600,346272.0,0,2017-11-03 15:59:00
3909,172.4699,172.5100,172.4100,172.5000,1580573.0,0,2017-11-03 16:00:00

In [7]:
for i in range(dta['close'].count()-1):
    if (dta['close'][i+1] > dta['close'][i]):
        dta.loc[i+1, 'raised'] = 1
    else:
        dta.loc[i+1, 'raised'] = 0

In [8]:
dta

,open,high,low,close,volume,raised,date
0,156.8900,156.9100,156.7200,156.8400,202632.0,0,2017-10-23 09:30:00
1,156.8400,156.8900,156.3000,156.4000,168533.0,0,2017-10-23 09:31:00
2,156.3695,156.5600,156.3695,156.5442,94511.0,1,2017-10-23 09:32:00
3,156.5400,156.6100,156.4800,156.6000,84868.0,1,2017-10-23 09:33:00
4,156.6300,156.9100,156.6200,156.8500,90873.0,1,2017-10-23 09:34:00
5,156.8500,156.9000,156.7560,156.8200,68573.0,0,2017-10-23 09:35:00
6,156.8100,157.0500,156.8100,156.9400,110704.0,1,2017-10-23 09:36:00
7,156.9400,156.9400,156.6900,156.7100,46911.0,0,2017-10-23 09:37:00
8,156.7200,156.7500,156.6000,156.7300,56012.0,1,2017-10-23 09:38:00
9,156.7300,156.9600,156.7300,156.7700,66562.0,1,2017-10-23 09:39:00
10,156.7800,156.8500,156.7525,156.8500,63238.0,1,2017-10-23 09:40:00
11,156.8450,156.9900,156.8450,156.9700,61721.0,1,2017-10-23 09:41:00
12,156.9700,156.9800,156.9100,156.9250,59156.0,0,2017-10-23 09:42:00
13,156.9250,156.9600,156.7501,156.7614,59541.0,0,2017-10-23 09:43:00
14,156.7500,156.8800,156.7500,156.7995,44804.0,1,2017-10-23 09:44:00
15,156.8100,156.8500,156.7243,156.7886,48521.0,0,2017-10-23 09:45:00
16,156.8000,156.9550,156.8000,156.9500,44504.0,1,2017-10-23 09:46:00
17,156.9400,157.0200,156.9100,156.9950,89829.0,1,2017-10-23 09:47:00
18,156.9950,157.0500,156.8700,156.9050,82340.0,0,2017-10-23 09:48:00
19,156.9200,156.9500,156.8400,156.9000,59568.0,0,2017-10-23 09:49:00
20,156.9000,156.9500,156.8500,156.9100,42642.0,1,2017-10-23 09:50:00
21,156.9050,156.9099,156.7300,156.7750,50246.0,0,2017-10-23 09:51:00
22,156.7700,156.9400,156.7200,156.8600,65364.0,1,2017-10-23 09:52:00
23,156.8542,156.8800,156.7501,156.7600,49727.0,0,2017-10-23 09:53:00
24,156.7500,156.8800,156.6900,156.8400,54813.0,1,2017-10-23 09:54:00
25,156.8500,156.9311,156.8400,156.9088,63249.0,1,2017-10-23 09:55:00
26,156.9200,156.9500,156.8900,156.9500,43013.0,1,2017-10-23 09:56:00
27,156.9500,156.9500,156.8500,156.9200,25890.0,0,2017-10-23 09:57:00
28,156.9150,156.9200,156.7900,156.8900,31107.0,0,2017-10-23 09:58:00
29,156.8900,156.9100,156.7900,156.8000,20720.0,0,2017-10-23 09:59:00
...,...,...,...,...,...,...,...
3880,172.4000,172.4700,172.3650,172.4600,89925.0,1,2017-11-03 15:31:00
3881,172.4300,172.4500,172.3700,172.4301,56327.0,0,2017-11-03 15:32:00
3882,172.4355,172.6700,172.4300,172.6450,126719.0,1,2017-11-03 15:33:00
3883,172.6450,172.6600,172.5400,172.5600,134694.0,0,2017-11-03 15:34:00
3884,172.5600,172.5800,172.4400,172.4600,120497.0,0,2017-11-03 15:35:00
3885,172.4700,172.5700,172.4700,172.5300,56034.0,1,2017-11-03 15:36:00
3886,172.5345,172.5400,172.4600,172.4850,57478.0,0,2017-11-03 15:37:00
3887,172.4885,172.5650,172.4700,172.5300,70620.0,1,2017-11-03 15:38:00
3888,172.5200,172.6000,172.5100,172.5800,57719.0,1,2017-11-03 15:39:00
3889,172.5800,172.6800,172.5700,172.6650,101869.0,1,2017-11-03 15:40:00
3890,172.6650,172.7000,172.6200,172.6250,68636.0,0,2017-11-03 15:41:00
3891,172.6300,172.6400,172.5600,172.6000,73122.0,0,2017-11-03 15:42:00
3892,172.6100,172.6400,172.5200,172.6100,118703.0,1,2017-11-03 15:43:00
3893,172.6149,172.7300,172.6100,172.7248,150811.0,1,2017-11-03 15:44:00
3894,172.7250,172.7300,172.7000,172.7050,113901.0,0,2017-11-03 15:45:00
3895,172.7100,172.7100,172.5000,172.5901,145234.0,0,2017-11-03 15:46:00
3896,172.6000,172.6300,172.5400,172.5800,92945.0,0,2017-11-03 15:47:00
3897,172.5800,172.6800,172.4820,172.6800,202427.0,1,2017-11-03 15:48:00
3898,172.6800,172.6800,172.5000,172.5993,119416.0,0,2017-11-03 15:49:00
3899,172.5900,172.6500,172.5100,172.6300,173172.0,1,2017-11-03 15:50:00
3900,172.6300,172.6600,172.5800,172.6600,142082.0,1,2017-11-03 15:51:00
3901,172.6550,172.6600,172.5600,172.5900,118548.0,0,2017-11-03 15:52:00
3902,172.6000,172.6600,172.5815,172.6000,120683.0,1,2017-11-03 15:53:00
3903,172.5950,172.6000,172.5400,172.5585,130553.0,0,2017-11-03 15:54:00
3904,172.5500,172.5550,172.4300,172.4400,180939.0,0,2017-11-03 15:55:00
3905,172.4500,172.4550,172.4000,172.4100,185931.0,0,2017-11-03 15:56:00
3906,172.4200,172.4200,172.4000,172.4140,184321.0,1,2017-11-03 15:57:00
3907,172.4200,172.4200,172.4000,172.4052,213275.0,0,2017-11-03 15:58:00
3908,172.4048,172.4700,172.3800,172.4600,346272.0,1,2017-11-03 15:59:00
3909,172.4699,172.5100,172.4100,172.5000,1580573.0,1,2017-11-03 16:00:00

In [9]:
dta.groupby('raised').mean()

              open        high         low       close        volume
raised
0       163.078368  163.102800  162.989844  163.021159  68010.234335
1       163.202564  163.289105  163.177524  163.261191  75799.382126

## Data Visualization

In [10]:
# show plots in the notebook
%matplotlib inline

## Prepare Data for Logistic Regression
The dmatrices function from the [patsy module](http://patsy.readthedocs.org/en/latest/) can do that using formula language.

In [11]:
dta

,open,high,low,close,volume,raised,date
0,156.8900,156.9100,156.7200,156.8400,202632.0,0,2017-10-23 09:30:00
1,156.8400,156.8900,156.3000,156.4000,168533.0,0,2017-10-23 09:31:00
2,156.3695,156.5600,156.3695,156.5442,94511.0,1,2017-10-23 09:32:00
3,156.5400,156.6100,156.4800,156.6000,84868.0,1,2017-10-23 09:33:00
4,156.6300,156.9100,156.6200,156.8500,90873.0,1,2017-10-23 09:34:00
5,156.8500,156.9000,156.7560,156.8200,68573.0,0,2017-10-23 09:35:00
6,156.8100,157.0500,156.8100,156.9400,110704.0,1,2017-10-23 09:36:00
7,156.9400,156.9400,156.6900,156.7100,46911.0,0,2017-10-23 09:37:00
8,156.7200,156.7500,156.6000,156.7300,56012.0,1,2017-10-23 09:38:00
9,156.7300,156.9600,156.7300,156.7700,66562.0,1,2017-10-23 09:39:00
10,156.7800,156.8500,156.7525,156.8500,63238.0,1,2017-10-23 09:40:00
11,156.8450,156.9900,156.8450,156.9700,61721.0,1,2017-10-23 09:41:00
12,156.9700,156.9800,156.9100,156.9250,59156.0,0,2017-10-23 09:42:00
13,156.9250,156.9600,156.7501,156.7614,59541.0,0,2017-10-23 09:43:00
14,156.7500,156.8800,156.7500,156.7995,44804.0,1,2017-10-23 09:44:00
15,156.8100,156.8500,156.7243,156.7886,48521.0,0,2017-10-23 09:45:00
16,156.8000,156.9550,156.8000,156.9500,44504.0,1,2017-10-23 09:46:00
17,156.9400,157.0200,156.9100,156.9950,89829.0,1,2017-10-23 09:47:00
18,156.9950,157.0500,156.8700,156.9050,82340.0,0,2017-10-23 09:48:00
19,156.9200,156.9500,156.8400,156.9000,59568.0,0,2017-10-23 09:49:00
20,156.9000,156.9500,156.8500,156.9100,42642.0,1,2017-10-23 09:50:00
21,156.9050,156.9099,156.7300,156.7750,50246.0,0,2017-10-23 09:51:00
22,156.7700,156.9400,156.7200,156.8600,65364.0,1,2017-10-23 09:52:00
23,156.8542,156.8800,156.7501,156.7600,49727.0,0,2017-10-23 09:53:00
24,156.7500,156.8800,156.6900,156.8400,54813.0,1,2017-10-23 09:54:00
25,156.8500,156.9311,156.8400,156.9088,63249.0,1,2017-10-23 09:55:00
26,156.9200,156.9500,156.8900,156.9500,43013.0,1,2017-10-23 09:56:00
27,156.9500,156.9500,156.8500,156.9200,25890.0,0,2017-10-23 09:57:00
28,156.9150,156.9200,156.7900,156.8900,31107.0,0,2017-10-23 09:58:00
29,156.8900,156.9100,156.7900,156.8000,20720.0,0,2017-10-23 09:59:00
...,...,...,...,...,...,...,...
3880,172.4000,172.4700,172.3650,172.4600,89925.0,1,2017-11-03 15:31:00
3881,172.4300,172.4500,172.3700,172.4301,56327.0,0,2017-11-03 15:32:00
3882,172.4355,172.6700,172.4300,172.6450,126719.0,1,2017-11-03 15:33:00
3883,172.6450,172.6600,172.5400,172.5600,134694.0,0,2017-11-03 15:34:00
3884,172.5600,172.5800,172.4400,172.4600,120497.0,0,2017-11-03 15:35:00
3885,172.4700,172.5700,172.4700,172.5300,56034.0,1,2017-11-03 15:36:00
3886,172.5345,172.5400,172.4600,172.4850,57478.0,0,2017-11-03 15:37:00
3887,172.4885,172.5650,172.4700,172.5300,70620.0,1,2017-11-03 15:38:00
3888,172.5200,172.6000,172.5100,172.5800,57719.0,1,2017-11-03 15:39:00
3889,172.5800,172.6800,172.5700,172.6650,101869.0,1,2017-11-03 15:40:00
3890,172.6650,172.7000,172.6200,172.6250,68636.0,0,2017-11-03 15:41:00
3891,172.6300,172.6400,172.5600,172.6000,73122.0,0,2017-11-03 15:42:00
3892,172.6100,172.6400,172.5200,172.6100,118703.0,1,2017-11-03 15:43:00
3893,172.6149,172.7300,172.6100,172.7248,150811.0,1,2017-11-03 15:44:00
3894,172.7250,172.7300,172.7000,172.7050,113901.0,0,2017-11-03 15:45:00
3895,172.7100,172.7100,172.5000,172.5901,145234.0,0,2017-11-03 15:46:00
3896,172.6000,172.6300,172.5400,172.5800,92945.0,0,2017-11-03 15:47:00
3897,172.5800,172.6800,172.4820,172.6800,202427.0,1,2017-11-03 15:48:00
3898,172.6800,172.6800,172.5000,172.5993,119416.0,0,2017-11-03 15:49:00
3899,172.5900,172.6500,172.5100,172.6300,173172.0,1,2017-11-03 15:50:00
3900,172.6300,172.6600,172.5800,172.6600,142082.0,1,2017-11-03 15:51:00
3901,172.6550,172.6600,172.5600,172.5900,118548.0,0,2017-11-03 15:52:00
3902,172.6000,172.6600,172.5815,172.6000,120683.0,1,2017-11-03 15:53:00
3903,172.5950,172.6000,172.5400,172.5585,130553.0,0,2017-11-03 15:54:00
3904,172.5500,172.5550,172.4300,172.4400,180939.0,0,2017-11-03 15:55:00
3905,172.4500,172.4550,172.4000,172.4100,185931.0,0,2017-11-03 15:56:00
3906,172.4200,172.4200,172.4000,172.4140,184321.0,1,2017-11-03 15:57:00
3907,172.4200,172.4200,172.4000,172.4052,213275.0,0,2017-11-03 15:58:00
3908,172.4048,172.4700,172.3800,172.4600,346272.0,1,2017-11-03 15:59:00
3909,172.4699,172.5100,172.4100,172.5000,1580573.0,1,2017-11-03 16:00:00

In [12]:
from patsy import dmatrices, dmatrix, demo_data
# create dataframes with an intercept column and dummy variables for
# occupation and occupation_husb
y, X = dmatrices('raised ~ volume + open + close + high + low', dta, return_type="dataframe")
print (X.columns)

Index(['Intercept', 'volume', 'open', 'close', 'high', 'low'], dtype='object')

We also need to flatten `y` into a 1-D array, so that scikit-learn will properly understand it as the response variable.

In [13]:
# flatten y into a 1-D array
y = np.ravel(y)
y

array([ 0.,  0.,  1., ...,  0.,  1.,  1.])

## Logistic Regression

Let's go ahead and run logistic regression on the entire data set, and see how accurate it is!

In [14]:
# instantiate a logistic regression model, and fit with X and y
model = LogisticRegression()
model = model.fit(X, y)

# check the accuracy on the training set
model.score(X, y)#quantos % dos casos acertou

0.52199488491048596

In [15]:
y.mean()

0.49795396419437338

Let's examine the coefficients to see what we learn.

In [16]:
# examine the coefficients
pd.DataFrame = list(zip(X.columns, np.transpose(model.coef_)))
pd.DataFrame

[('Intercept', array([ -4.66577610e-07])),
 ('volume', array([  5.60362379e-07])),
 ('open', array([ -7.43568611e-05])),
 ('close', array([ -7.12298312e-05])),
 ('high', array([ -7.27308726e-05])),
 ('low', array([ -7.25917665e-05]))]

## Model Evaluation Using a Validation Set

So far, we have trained and tested on the same set. Let's instead split the data into a training set and a testing set.

In [17]:
# evaluate the model by splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
model2 = LogisticRegression()
model2.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

We now need to predict class labels for the test set. We will also generate the class probabilities, just to take a look.

In [18]:
# predict class labels for the test set
predicted = model2.predict(X_test)
print (predicted)

[ 1.  0.  0. ...,  0.  0.  0.]

In [19]:
# generate class probabilities
probs = model2.predict_proba(X_test)
print (probs)

[[ 0.44466127  0.55533873]
 [ 0.51379952  0.48620048]
 [ 0.50079146  0.49920854]
 ...,
 [ 0.51063924  0.48936076]
 [ 0.5140669   0.4859331 ]
 [ 0.50940985  0.49059015]]

Now let's generate some evaluation metrics.

In [20]:
# generate evaluation metrics
print (metrics.accuracy_score(y_test, predicted))
print (metrics.roc_auc_score(y_test, probs[:, 1]))

0.50895140665
0.524688199552

We can also see the confusion matrix and a classification report with other metrics.

In [21]:
print (metrics.confusion_matrix(y_test, predicted))
print (metrics.classification_report(y_test, predicted))

[[451 139]
 [437 146]]
             precision    recall  f1-score   support

        0.0       0.51      0.76      0.61       590
        1.0       0.51      0.25      0.34       583

avg / total       0.51      0.51      0.47      1173

## Model Evaluation Using Cross-Validation

Now let's try 10-fold cross-validation, to see if the accuracy holds up more rigorously.

In [22]:
# evaluate the model using 10-fold cross-validation
scores = cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=10)
print (scores)
print (scores.mean())

[ 0.54591837  0.48979592  0.49489796  0.58567775  0.5370844   0.49360614
  0.51918159  0.49487179  0.51282051  0.55384615]
0.522770057856

Looks good. It's still performing at 73% accuracy.

## Predicting the Probability of an Stock go up

Just for fun, let's predict the probability of an affair for a random woman not present in the dataset. She's a 25-year-old teacher who graduated college, has been married for 3 years, has 1 child, rates herself as strongly religious, rates her marriage as fair, and her husband is a farmer.

In [36]:
model.predict_proba(np.array([1, 1000, 1000, 100,1000,100]))#'raised ~ volume + open + close + high + low',

/Users/Felipe/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([[ 0.54014104,  0.45985896]])

## Next Steps

There are many different steps that could be tried in order to improve the model:

* including interaction terms
* removing features
* regularization techniques
* using a non-linear model