# Logistic Regression with scikit-learn

This is an example of logistic regression in Python with the [scikit-learn module](http://scikit-learn.org/), performed for an [assignment](https://github.com/ajschumacher/gadsdc/tree/master/logistic_assignment) with my [General Assembly Data Science class](https://generalassemb.ly/education/data-science).

## Dataset

The dataset I chose is the [affairs dataset](http://statsmodels.sourceforge.net/stable/datasets/generated/fair.html) that comes with [Statsmodels](http://statsmodels.sourceforge.net/). It was derived from a survey of women in 1974 by Redbook magazine, in which married women were asked about their participation in extramarital affairs. More information about the study is available in a [1978 paper](http://fairmodel.econ.yale.edu/rayfair/pdf/1978a200.pdf) from the Journal of Political Economy.

## Description of Variables

The dataset contains 6366 observations of 9 variables:

* `rate_marriage`: woman's rating of her marriage (1 = very poor, 5 = very good)
* `age`: woman's age
* `yrs_married`: number of years married
* `children`: number of children
* `religious`: woman's rating of how religious she is (1 = not religious, 4 = strongly religious)
* `educ`: level of education (9 = grade school, 12 = high school, 14 = some college, 16 = college graduate, 17 = some graduate school, 20 = advanced degree)
* `occupation`: woman's occupation (1 = student, 2 = farming/semi-skilled/unskilled, 3 = "white collar", 4 = teacher/nurse/writer/technician/skilled, 5 = managerial/business, 6 = professional with advanced degree)
* `occupation_husb`: husband's occupation (same coding as above)
* `affairs`: time spent in extra-marital affairs

## Problem Statement

I decided to treat this as a classification problem by creating a new binary variable `affair` (did the woman have at least one affair?) and trying to predict the classification for each woman.

Skipper Seabold, one of the primary contributors to Statsmodels, did a similar classification in his [Statsmodels demo](https://github.com/jseabold/pydc) at a [Statistical Programming DC Meetup](http://www.meetup.com/stats-prog-dc/events/173693192/). However, he used Statsmodels for the classification (whereas I'm using scikit-learn), and he treated the occupation variables as continuous (whereas I'm treating them as categorical).

## Import modules

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score

/usr/local/lib/python3.5/dist-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools
/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

## Data Pre-Processing

First, let's load the dataset and add a binary `affair` column.

In [2]:
df = pd.read_json('~/Documents/GitHub/StocksGenie/json/AAPL.json')
df = df.T

In [3]:
dta = df
dta.columns = ['open', 'high', 'low', 'close', 'volume']
dta

               open    high     low   close      volume
2000-01-03  104.870  112.50  101.69  111.94   4783900.0
2000-01-04  108.250  110.62  101.19  102.50   4574800.0
2000-01-05  103.750  110.56  103.00  104.00   6949300.0
2000-01-06  106.120  107.00   95.00   95.00   6856900.0
2000-01-07   96.500  101.00   95.50   99.50   4113700.0
2000-01-10  102.000  102.25   94.75   97.75   4509500.0
2000-01-11   95.940   99.37   90.50   92.75   3942400.0
2000-01-12   95.000   95.50   86.50   87.19   8714900.0
2000-01-13   94.480   98.75   92.50   96.75   9220400.0
2000-01-14  100.000  102.25   99.37  100.44   3485500.0
2000-01-18  101.000  106.00  100.44  103.94   4099800.0
2000-01-19  105.620  108.75  103.37  106.56   5336100.0
2000-01-20  115.500  121.50  113.50  113.50  16349400.0
2000-01-21  114.250  114.25  110.19  111.31   4427900.0
2000-01-24  108.440  112.75  105.12  106.25   3936400.0
2000-01-25  105.000  113.12  102.37  112.25   4438800.0
2000-01-26  110.000  114.19  109.75  110.19   3278200.0
2000-01-27  108.810  113.00  107.00  110.00   3037000.0
2000-01-28  108.190  110.87  100.62  101.62   3779900.0
2000-01-31  101.000  103.87   94.50  103.75   6265000.0
2000-02-01  104.000  105.00  100.00  100.25   2839600.0
2000-02-02  100.750  102.12   97.00   98.81   4144600.0
2000-02-03  100.310  104.25  100.25  103.31   4242800.0
2000-02-04  103.940  110.00  103.62  108.00   3797500.0
2000-02-07  108.000  114.25  105.94  114.06   3938100.0
2000-02-08  114.000  116.12  111.25  114.87   3648600.0
2000-02-09  114.120  117.12  112.44  112.62   2672900.0
2000-02-10  112.870  113.87  110.00  113.50   2705200.0
2000-02-11  113.620  114.12  108.25  108.75   1895100.0
2000-02-14  109.310  115.87  108.62  115.81   3281600.0
...             ...     ...     ...     ...         ...
2017-09-26  151.780  153.92  151.69  153.14  35470985.0
2017-09-27  153.800  154.72  153.54  154.23  24959552.0
2017-09-28  153.890  154.28  152.70  153.28  21896592.0
2017-09-29  153.210  154.13  152.00  154.12  25856530.0
2017-10-02  154.260  154.45  152.72  153.81  18524860.0
2017-10-03  154.010  155.09  153.91  154.48  16146388.0
2017-10-04  153.630  153.86  152.46  153.48  19844177.0
2017-10-05  154.180  155.44  154.05  155.39  21032800.0
2017-10-06  154.970  155.49  154.56  155.30  16423749.0
2017-10-09  155.810  156.73  155.49  155.84  16200129.0
2017-10-10  156.060  158.00  155.10  155.90  15456331.0
2017-10-11  155.970  156.98  155.75  156.55  16607693.0
2017-10-12  156.350  157.37  155.73  156.00  16045720.0
2017-10-13  156.730  157.28  156.41  156.99  16287608.0
2017-10-16  157.900  160.00  157.65  159.88  23894630.0
2017-10-17  159.780  160.87  159.23  160.47  18816438.0
2017-10-18  160.420  160.71  159.60  159.76  16158659.0
2017-10-19  156.750  157.08  155.02  155.98  42111326.0
2017-10-20  156.610  157.75  155.96  156.25  23612246.0
2017-10-23  156.890  157.69  155.50  156.17  21654461.0
2017-10-24  156.290  157.42  156.20  157.10  17137731.0
2017-10-25  156.910  157.55  155.27  156.41  20126554.0
2017-10-26  157.230  157.83  156.78  157.41  16751691.0
2017-10-27  159.290  163.60  158.70  163.05  43904150.0
2017-10-30  163.890  168.07  163.72  166.72  43923292.0
2017-10-31  167.900  169.65  166.94  169.04  35474672.0
2017-11-01  169.870  169.94  165.61  166.89  33100847.0
2017-11-02  166.600  168.50  165.28  168.11  32710040.0
2017-11-03  174.000  174.26  171.12  172.50  58683826.0
2017-11-06  172.365  174.99  171.72  174.25  34242566.0

[4491 rows x 5 columns]

## Data Exploration

In [4]:
dta['raised'] = 0

In [5]:
dta

               open    high     low   close      volume  raised
2000-01-03  104.870  112.50  101.69  111.94   4783900.0       0
2000-01-04  108.250  110.62  101.19  102.50   4574800.0       0
2000-01-05  103.750  110.56  103.00  104.00   6949300.0       0
2000-01-06  106.120  107.00   95.00   95.00   6856900.0       0
2000-01-07   96.500  101.00   95.50   99.50   4113700.0       0
2000-01-10  102.000  102.25   94.75   97.75   4509500.0       0
2000-01-11   95.940   99.37   90.50   92.75   3942400.0       0
2000-01-12   95.000   95.50   86.50   87.19   8714900.0       0
2000-01-13   94.480   98.75   92.50   96.75   9220400.0       0
2000-01-14  100.000  102.25   99.37  100.44   3485500.0       0
2000-01-18  101.000  106.00  100.44  103.94   4099800.0       0
2000-01-19  105.620  108.75  103.37  106.56   5336100.0       0
2000-01-20  115.500  121.50  113.50  113.50  16349400.0       0
2000-01-21  114.250  114.25  110.19  111.31   4427900.0       0
2000-01-24  108.440  112.75  105.12  106.25   3936400.0       0
2000-01-25  105.000  113.12  102.37  112.25   4438800.0       0
2000-01-26  110.000  114.19  109.75  110.19   3278200.0       0
2000-01-27  108.810  113.00  107.00  110.00   3037000.0       0
2000-01-28  108.190  110.87  100.62  101.62   3779900.0       0
2000-01-31  101.000  103.87   94.50  103.75   6265000.0       0
2000-02-01  104.000  105.00  100.00  100.25   2839600.0       0
2000-02-02  100.750  102.12   97.00   98.81   4144600.0       0
2000-02-03  100.310  104.25  100.25  103.31   4242800.0       0
2000-02-04  103.940  110.00  103.62  108.00   3797500.0       0
2000-02-07  108.000  114.25  105.94  114.06   3938100.0       0
2000-02-08  114.000  116.12  111.25  114.87   3648600.0       0
2000-02-09  114.120  117.12  112.44  112.62   2672900.0       0
2000-02-10  112.870  113.87  110.00  113.50   2705200.0       0
2000-02-11  113.620  114.12  108.25  108.75   1895100.0       0
2000-02-14  109.310  115.87  108.62  115.81   3281600.0       0
...             ...     ...     ...     ...         ...     ...
2017-09-26  151.780  153.92  151.69  153.14  35470985.0       0
2017-09-27  153.800  154.72  153.54  154.23  24959552.0       0
2017-09-28  153.890  154.28  152.70  153.28  21896592.0       0
2017-09-29  153.210  154.13  152.00  154.12  25856530.0       0
2017-10-02  154.260  154.45  152.72  153.81  18524860.0       0
2017-10-03  154.010  155.09  153.91  154.48  16146388.0       0
2017-10-04  153.630  153.86  152.46  153.48  19844177.0       0
2017-10-05  154.180  155.44  154.05  155.39  21032800.0       0
2017-10-06  154.970  155.49  154.56  155.30  16423749.0       0
2017-10-09  155.810  156.73  155.49  155.84  16200129.0       0
2017-10-10  156.060  158.00  155.10  155.90  15456331.0       0
2017-10-11  155.970  156.98  155.75  156.55  16607693.0       0
2017-10-12  156.350  157.37  155.73  156.00  16045720.0       0
2017-10-13  156.730  157.28  156.41  156.99  16287608.0       0
2017-10-16  157.900  160.00  157.65  159.88  23894630.0       0
2017-10-17  159.780  160.87  159.23  160.47  18816438.0       0
2017-10-18  160.420  160.71  159.60  159.76  16158659.0       0
2017-10-19  156.750  157.08  155.02  155.98  42111326.0       0
2017-10-20  156.610  157.75  155.96  156.25  23612246.0       0
2017-10-23  156.890  157.69  155.50  156.17  21654461.0       0
2017-10-24  156.290  157.42  156.20  157.10  17137731.0       0
2017-10-25  156.910  157.55  155.27  156.41  20126554.0       0
2017-10-26  157.230  157.83  156.78  157.41  16751691.0       0
2017-10-27  159.290  163.60  158.70  163.05  43904150.0       0
2017-10-30  163.890  168.07  163.72  166.72  43923292.0       0
2017-10-31  167.900  169.65  166.94  169.04  35474672.0       0
2017-11-01  169.870  169.94  165.61  166.89  33100847.0       0
2017-11-02  166.600  168.50  165.28  168.11  32710040.0       0
2017-11-03  174.000  174.26  171.12  172.50  58683826.0       0
2017-11-06  172.365  174.99  171.72  174.25  34242566.0       0

[4491 rows x 6 columns]

In [6]:
dta['date'] = dta.index
dta = dta.reset_index(drop=True)
dta

         open    high     low   close      volume  raised       date
0     104.870  112.50  101.69  111.94   4783900.0       0 2000-01-03
1     108.250  110.62  101.19  102.50   4574800.0       0 2000-01-04
2     103.750  110.56  103.00  104.00   6949300.0       0 2000-01-05
3     106.120  107.00   95.00   95.00   6856900.0       0 2000-01-06
4      96.500  101.00   95.50   99.50   4113700.0       0 2000-01-07
5     102.000  102.25   94.75   97.75   4509500.0       0 2000-01-10
6      95.940   99.37   90.50   92.75   3942400.0       0 2000-01-11
7      95.000   95.50   86.50   87.19   8714900.0       0 2000-01-12
8      94.480   98.75   92.50   96.75   9220400.0       0 2000-01-13
9     100.000  102.25   99.37  100.44   3485500.0       0 2000-01-14
10    101.000  106.00  100.44  103.94   4099800.0       0 2000-01-18
11    105.620  108.75  103.37  106.56   5336100.0       0 2000-01-19
12    115.500  121.50  113.50  113.50  16349400.0       0 2000-01-20
13    114.250  114.25  110.19  111.31   4427900.0       0 2000-01-21
14    108.440  112.75  105.12  106.25   3936400.0       0 2000-01-24
15    105.000  113.12  102.37  112.25   4438800.0       0 2000-01-25
16    110.000  114.19  109.75  110.19   3278200.0       0 2000-01-26
17    108.810  113.00  107.00  110.00   3037000.0       0 2000-01-27
18    108.190  110.87  100.62  101.62   3779900.0       0 2000-01-28
19    101.000  103.87   94.50  103.75   6265000.0       0 2000-01-31
20    104.000  105.00  100.00  100.25   2839600.0       0 2000-02-01
21    100.750  102.12   97.00   98.81   4144600.0       0 2000-02-02
22    100.310  104.25  100.25  103.31   4242800.0       0 2000-02-03
23    103.940  110.00  103.62  108.00   3797500.0       0 2000-02-04
24    108.000  114.25  105.94  114.06   3938100.0       0 2000-02-07
25    114.000  116.12  111.25  114.87   3648600.0       0 2000-02-08
26    114.120  117.12  112.44  112.62   2672900.0       0 2000-02-09
27    112.870  113.87  110.00  113.50   2705200.0       0 2000-02-10
28    113.620  114.12  108.25  108.75   1895100.0       0 2000-02-11
29    109.310  115.87  108.62  115.81   3281600.0       0 2000-02-14
...       ...     ...     ...     ...         ...     ...        ...
4461  151.780  153.92  151.69  153.14  35470985.0       0 2017-09-26
4462  153.800  154.72  153.54  154.23  24959552.0       0 2017-09-27
4463  153.890  154.28  152.70  153.28  21896592.0       0 2017-09-28
4464  153.210  154.13  152.00  154.12  25856530.0       0 2017-09-29
4465  154.260  154.45  152.72  153.81  18524860.0       0 2017-10-02
4466  154.010  155.09  153.91  154.48  16146388.0       0 2017-10-03
4467  153.630  153.86  152.46  153.48  19844177.0       0 2017-10-04
4468  154.180  155.44  154.05  155.39  21032800.0       0 2017-10-05
4469  154.970  155.49  154.56  155.30  16423749.0       0 2017-10-06
4470  155.810  156.73  155.49  155.84  16200129.0       0 2017-10-09
4471  156.060  158.00  155.10  155.90  15456331.0       0 2017-10-10
4472  155.970  156.98  155.75  156.55  16607693.0       0 2017-10-11
4473  156.350  157.37  155.73  156.00  16045720.0       0 2017-10-12
4474  156.730  157.28  156.41  156.99  16287608.0       0 2017-10-13
4475  157.900  160.00  157.65  159.88  23894630.0       0 2017-10-16
4476  159.780  160.87  159.23  160.47  18816438.0       0 2017-10-17
4477  160.420  160.71  159.60  159.76  16158659.0       0 2017-10-18
4478  156.750  157.08  155.02  155.98  42111326.0       0 2017-10-19
4479  156.610  157.75  155.96  156.25  23612246.0       0 2017-10-20
4480  156.890  157.69  155.50  156.17  21654461.0       0 2017-10-23
4481  156.290  157.42  156.20  157.10  17137731.0       0 2017-10-24
4482  156.910  157.55  155.27  156.41  20126554.0       0 2017-10-25
4483  157.230  157.83  156.78  157.41  16751691.0       0 2017-10-26
4484  159.290  163.60  158.70  163.05  43904150.0       0 2017-10-27
4485  163.890  168.07  163.72  166.72  43923292.0       0 2017-10-30
4486  167.900  169.65  166.94  169.04  35474672.0       0 2017-10-31
4487  169.870  169.94  165.61  166.89  33100847.0       0 2017-11-01
4488  166.600  168.50  165.28  168.11  32710040.0       0 2017-11-02
4489  174.000  174.26  171.12  172.50  58683826.0       0 2017-11-03
4490  172.365  174.99  171.72  174.25  34242566.0       0 2017-11-06

[4491 rows x 7 columns]

In [9]:
for i in range(dta['close'].count()-1):
    if (dta['close'][i+1] > dta['close'][i]):
        dta.loc[i+1, 'raised'] = 1
    else:
        dta.loc[i+1, 'raised'] = 0

In [10]:
dta

         open    high     low   close      volume  raised       date
0     104.870  112.50  101.69  111.94   4783900.0       0 2000-01-03
1     108.250  110.62  101.19  102.50   4574800.0       0 2000-01-04
2     103.750  110.56  103.00  104.00   6949300.0       1 2000-01-05
3     106.120  107.00   95.00   95.00   6856900.0       0 2000-01-06
4      96.500  101.00   95.50   99.50   4113700.0       1 2000-01-07
5     102.000  102.25   94.75   97.75   4509500.0       0 2000-01-10
6      95.940   99.37   90.50   92.75   3942400.0       0 2000-01-11
7      95.000   95.50   86.50   87.19   8714900.0       0 2000-01-12
8      94.480   98.75   92.50   96.75   9220400.0       1 2000-01-13
9     100.000  102.25   99.37  100.44   3485500.0       1 2000-01-14
10    101.000  106.00  100.44  103.94   4099800.0       1 2000-01-18
11    105.620  108.75  103.37  106.56   5336100.0       1 2000-01-19
12    115.500  121.50  113.50  113.50  16349400.0       1 2000-01-20
13    114.250  114.25  110.19  111.31   4427900.0       0 2000-01-21
14    108.440  112.75  105.12  106.25   3936400.0       0 2000-01-24
15    105.000  113.12  102.37  112.25   4438800.0       1 2000-01-25
16    110.000  114.19  109.75  110.19   3278200.0       0 2000-01-26
17    108.810  113.00  107.00  110.00   3037000.0       0 2000-01-27
18    108.190  110.87  100.62  101.62   3779900.0       0 2000-01-28
19    101.000  103.87   94.50  103.75   6265000.0       1 2000-01-31
20    104.000  105.00  100.00  100.25   2839600.0       0 2000-02-01
21    100.750  102.12   97.00   98.81   4144600.0       0 2000-02-02
22    100.310  104.25  100.25  103.31   4242800.0       1 2000-02-03
23    103.940  110.00  103.62  108.00   3797500.0       1 2000-02-04
24    108.000  114.25  105.94  114.06   3938100.0       1 2000-02-07
25    114.000  116.12  111.25  114.87   3648600.0       1 2000-02-08
26    114.120  117.12  112.44  112.62   2672900.0       0 2000-02-09
27    112.870  113.87  110.00  113.50   2705200.0       1 2000-02-10
28    113.620  114.12  108.25  108.75   1895100.0       0 2000-02-11
29    109.310  115.87  108.62  115.81   3281600.0       1 2000-02-14
...       ...     ...     ...     ...         ...     ...        ...
4461  151.780  153.92  151.69  153.14  35470985.0       1 2017-09-26
4462  153.800  154.72  153.54  154.23  24959552.0       1 2017-09-27
4463  153.890  154.28  152.70  153.28  21896592.0       0 2017-09-28
4464  153.210  154.13  152.00  154.12  25856530.0       1 2017-09-29
4465  154.260  154.45  152.72  153.81  18524860.0       0 2017-10-02
4466  154.010  155.09  153.91  154.48  16146388.0       1 2017-10-03
4467  153.630  153.86  152.46  153.48  19844177.0       0 2017-10-04
4468  154.180  155.44  154.05  155.39  21032800.0       1 2017-10-05
4469  154.970  155.49  154.56  155.30  16423749.0       0 2017-10-06
4470  155.810  156.73  155.49  155.84  16200129.0       1 2017-10-09
4471  156.060  158.00  155.10  155.90  15456331.0       1 2017-10-10
4472  155.970  156.98  155.75  156.55  16607693.0       1 2017-10-11
4473  156.350  157.37  155.73  156.00  16045720.0       0 2017-10-12
4474  156.730  157.28  156.41  156.99  16287608.0       1 2017-10-13
4475  157.900  160.00  157.65  159.88  23894630.0       1 2017-10-16
4476  159.780  160.87  159.23  160.47  18816438.0       1 2017-10-17
4477  160.420  160.71  159.60  159.76  16158659.0       0 2017-10-18
4478  156.750  157.08  155.02  155.98  42111326.0       0 2017-10-19
4479  156.610  157.75  155.96  156.25  23612246.0       1 2017-10-20
4480  156.890  157.69  155.50  156.17  21654461.0       0 2017-10-23
4481  156.290  157.42  156.20  157.10  17137731.0       1 2017-10-24
4482  156.910  157.55  155.27  156.41  20126554.0       0 2017-10-25
4483  157.230  157.83  156.78  157.41  16751691.0       1 2017-10-26
4484  159.290  163.60  158.70  163.05  43904150.0       1 2017-10-27
4485  163.890  168.07  163.72  166.72  43923292.0       1 2017-10-30
4486  167.900  169.65  166.94  169.04  35474672.0       1 2017-10-31
4487  169.870  169.94  165.61  166.89  33100847.0       0 2017-11-01
4488  166.600  168.50  165.28  168.11  32710040.0       1 2017-11-02
4489  174.000  174.26  171.12  172.50  58683826.0       1 2017-11-03
4490  172.365  174.99  171.72  174.25  34242566.0       1 2017-11-06

[4491 rows x 7 columns]

We can see that on average, women who have affairs rate their marriages lower, which is to be expected. Let's take another look at the `rate_marriage` variable.

In [11]:
dta.groupby('raised').mean()

              open        high         low       close        volume
raised
0       167.382137  168.475684  164.334708  165.527990  2.276418e+07
1       171.275893  173.836645  170.130162  172.876355  2.229130e+07

An increase in `age`, `yrs_married`, and `children` appears to correlate with a declining marriage rating.

## Data Visualization

In [12]:
# show plots in the notebook
%matplotlib inline

Let's start with histograms of education and marriage rating.

Let's take a look at the distribution of marriage ratings for those having affairs versus those not having affairs.

In [ ]:
# barplot of marriage rating grouped by affair (True or False)
pd.crosstab(dta.rate_marriage, dta.affair.astype(bool)).plot(kind='bar')
plt.title('Marriage Rating Distribution by Affair Status')
plt.xlabel('Marriage Rating')
plt.ylabel('Frequency')

Let's use a stacked barplot to look at the percentage of women having affairs by number of years of marriage.

In [ ]:
affair_yrs_married = pd.crosstab(dta.yrs_married, dta.affair.astype(bool))
affair_yrs_married.div(affair_yrs_married.sum(1).astype(float), axis=0).plot(kind='bar', stacked=True)
plt.title('Affair Percentage by Years Married')
plt.xlabel('Years Married')
plt.ylabel('Percentage')

## Prepare Data for Logistic Regression

To prepare the data, I want to add an intercept column as well as dummy variables for `occupation` and `occupation_husb`, since I'm treating them as categorial variables. The dmatrices function from the [patsy module](http://patsy.readthedocs.org/en/latest/) can do that using formula language.

In [ ]:
# create dataframes with an intercept column and dummy variables for
# occupation and occupation_husb
y, X = dmatrices('affair ~ rate_marriage + age + yrs_married + children + \
                  religious + educ + C(occupation) + C(occupation_husb)',
                  dta, return_type="dataframe")
print X.columns

The column names for the dummy variables are ugly, so let's rename those.

In [ ]:
# fix column names of X
X = X.rename(columns = {'C(occupation)[T.2.0]':'occ_2',
                        'C(occupation)[T.3.0]':'occ_3',
                        'C(occupation)[T.4.0]':'occ_4',
                        'C(occupation)[T.5.0]':'occ_5',
                        'C(occupation)[T.6.0]':'occ_6',
                        'C(occupation_husb)[T.2.0]':'occ_husb_2',
                        'C(occupation_husb)[T.3.0]':'occ_husb_3',
                        'C(occupation_husb)[T.4.0]':'occ_husb_4',
                        'C(occupation_husb)[T.5.0]':'occ_husb_5',
                        'C(occupation_husb)[T.6.0]':'occ_husb_6'})

We also need to flatten `y` into a 1-D array, so that scikit-learn will properly understand it as the response variable.

In [ ]:
# flatten y into a 1-D array
y = np.ravel(y)

## Logistic Regression

Let's go ahead and run logistic regression on the entire data set, and see how accurate it is!

In [ ]:
# instantiate a logistic regression model, and fit with X and y
model = LogisticRegression()
model = model.fit(X, y)

# check the accuracy on the training set
model.score(X, y)

73% accuracy seems good, but what's the null error rate?

In [ ]:
# what percentage had affairs?
y.mean()

Only 32% of the women had affairs, which means that you could obtain 68% accuracy by always predicting "no". So we're doing better than the null error rate, but not by much.

Let's examine the coefficients to see what we learn.

In [ ]:
# examine the coefficients
pd.DataFrame(zip(X.columns, np.transpose(model.coef_)))

Increases in marriage rating and religiousness correspond to a decrease in the likelihood of having an affair. For both the wife's occupation and the husband's occupation, the lowest likelihood of having an affair corresponds to the baseline occupation (student), since all of the dummy coefficients are positive.

## Model Evaluation Using a Validation Set

So far, we have trained and tested on the same set. Let's instead split the data into a training set and a testing set.

In [ ]:
# evaluate the model by splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
model2 = LogisticRegression()
model2.fit(X_train, y_train)

We now need to predict class labels for the test set. We will also generate the class probabilities, just to take a look.

In [ ]:
# predict class labels for the test set
predicted = model2.predict(X_test)
print predicted

In [ ]:
# generate class probabilities
probs = model2.predict_proba(X_test)
print probs

As you can see, the classifier is predicting a 1 (having an affair) any time the probability in the second column is greater than 0.5.

Now let's generate some evaluation metrics.

In [ ]:
# generate evaluation metrics
print metrics.accuracy_score(y_test, predicted)
print metrics.roc_auc_score(y_test, probs[:, 1])

The accuracy is 73%, which is the same as we experienced when training and predicting on the same data.

We can also see the confusion matrix and a classification report with other metrics.

In [ ]:
print metrics.confusion_matrix(y_test, predicted)
print metrics.classification_report(y_test, predicted)

## Model Evaluation Using Cross-Validation

Now let's try 10-fold cross-validation, to see if the accuracy holds up more rigorously.

In [ ]:
# evaluate the model using 10-fold cross-validation
scores = cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=10)
print scores
print scores.mean()

Looks good. It's still performing at 73% accuracy.

## Predicting the Probability of an Affair

Just for fun, let's predict the probability of an affair for a random woman not present in the dataset. She's a 25-year-old teacher who graduated college, has been married for 3 years, has 1 child, rates herself as strongly religious, rates her marriage as fair, and her husband is a farmer.

In [ ]:
model.predict_proba(np.array([1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 3, 25, 3, 1, 4,
                              16]))

The predicted probability of an affair is 23%.

## Next Steps

There are many different steps that could be tried in order to improve the model:

* including interaction terms
* removing features
* regularization techniques
* using a non-linear model